$brand-primary: #3E3E3B;
$brand-accent: #EBECED;
$brand-secondary: #4C586F;

$theme-colors: (
  "brand-primary": $brand-primary,
  "brand-accent": $brand-accent,
  "brand-secondary": $brand-secondary
);