@import "chat-client/shared/styles/_custom-variables.scss";

.main {
  height: 100%;
  padding: 0px;
  background-color: $brand-primary;
  overflow: hidden;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}